:root {
  --font-primary: "Roboto", sans-serif;
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: var(--charcoal-grey);
}

.attribution {
  font-size: 0.625rem;
  text-align: center;
  display: none;
}

.text-1-bold {
  font-family: var(--font-primary);
  font-size: clamp(2.5rem, 2.148rem + 1.5vw, 3.5rem);
  font-weight: 700;
  color: var(--dark-slate-grey);
}

.text-2-bold {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
}

.text-3-regular {
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  color: var(--dark-slate-grey);
}

.section-newsletter {
  background-color: var(--white);
}
.section-newsletter .content-newsletter {
  display: grid;
}
.section-newsletter .content-newsletter .img-newsletter {
  display: block;
  width: 100%;
  height: auto;
}
.section-newsletter .content-newsletter .text-newsletter {
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.section-newsletter .content-newsletter .text-newsletter .text,
.section-newsletter .content-newsletter .text-newsletter .form {
  display: flex;
  flex-direction: column;
}
.section-newsletter .content-newsletter .text-newsletter .text {
  gap: 1.5rem;
}
.section-newsletter .content-newsletter .text-newsletter .text .list p {
  display: flex;
  margin-bottom: 0.625rem;
  gap: 1rem;
}
.section-newsletter .content-newsletter .text-newsletter .form p {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 150%;
  color: var(--dark-slate-grey);
  margin-bottom: 8px;
}
.section-newsletter .content-newsletter .text-newsletter .form input {
  margin-bottom: 1.5rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  color: var(--dark-slate-grey);
  border: 1px solid var(--grey);
  border-radius: 0.5rem;
}
.section-newsletter .content-newsletter .text-newsletter .form input::placeholder {
  color: var(--dark-slate-grey);
  opacity: 50%;
}

.btn-subscribe {
  width: 100%;
  background-color: var(--dark-slate-grey);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  border: none;
}
.btn-subscribe:hover {
  background: linear-gradient(#ff6a3a, #ff527b);
}

.modal-subscribe {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  background-color: rgba(0, 0, 0, 0.8); /* Adiciona uma camada escura */
  z-index: 1000;
}
.modal-subscribe .content-modal {
  background-color: var(--white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 9.3125rem 1.5rem 2.5rem 1.5rem;
}
.modal-subscribe .content-modal .message-subscribe h1 {
  padding: 1.5rem 0 2.5rem 0;
}

@media (min-width: 48rem) {
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }
  .section-newsletter {
    max-width: 58rem;
    border-radius: 2.25rem;
  }
  .section-newsletter .content-newsletter {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
  }
  .section-newsletter .content-newsletter .images {
    order: 2;
  }
  .section-newsletter .content-newsletter .text-newsletter {
    padding: 0;
    margin: auto 4rem auto 2.5rem;
  }
  .modal-subscribe .content-modal {
    max-width: 31.5rem;
    height: auto;
    border-radius: 2.25rem;
    padding: 3rem 4rem 4rem 4rem;
  }
  .modal-subscribe .content-modal .message-subscribe h1 {
    padding: 2.5rem 0 1.5rem 0;
  }
  .modal-subscribe .content-modal .message-subscribe p {
    padding-bottom: 2.5rem;
  }
}

/*# sourceMappingURL=global.css.map */
